.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    transition: var(--transition), transform 0.2s;
}

.container {
    width: 100%;
    height: calc(100% - 75px);
    min-width: 100%;
    position: relative;
    overflow: scroll;
}

.container::-webkit-scrollbar{
    display: none;
}

.header {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    position: sticky;
    padding-bottom: 10px;
    margin-top: -8px;
    top: -8px;
    z-index: 9;
    height: 80px;
}

.close-chat {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--foreground-color);
    border-radius: 10px;
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition), opacity 0.2s, transform 0.2s;
}

.close-chat:hover {
    opacity: 0.5;
}

.close-chat:active {
    transform: scale(1.1);
}

.body {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1px;
}

.online {
    color: green;
}

.not-online {
    color: rgba(128, 128, 128, 0.5);
}

.footer {
   display: flex;
   gap: 10px;
   padding: 5px 0 10px 0;
}

.footer-wrapper {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    z-index: 9;
    padding-top: 10px;
}

.input {
    width: 100%;
    border: 1px solid var(--foreground-color);
    border-radius: 10px;
    padding: 5px;
    outline: 0;
    font-size: 15px;
    color: var(--foreground-color);
}

.mood-container {
    display: flex;
    gap: 5px;
    width: 22.5vw;
    min-width: 100%;
    overflow: scroll;
}

.header-button-container {
    width: 100%;
    display: flex;
    height: 70%;
    justify-content: space-around;
    gap: 1px;
    align-items: center;
    background-color: transparent;
}
.header-button {
    background-color: var(--foreground-color);
    color: var(--background-color);
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition), opacity 0.2s;
}

.header-button:active {
    opacity: 0.5;
}
.header-button:nth-child(2){
    background-color: green;
}

.header-button:nth-child(3){
    background-color: red;
}