.container {
    width: fit-content;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
    cursor: pointer;
    transition: var(--transition), opacity 0.2s;
}

.label {
    font-weight: bold;
    color: var(--foreground-color);
    font-size: 17px;
}

.container:hover {
    opacity: 1;
}

.container:active {
    opacity: 0.5;
}

@media screen and (max-width: 1000px) {
    .label {
        display: none;
    }
}