.container {
    margin: auto;
    width: 95vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50vh;
    transform: translateY(-50%);
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    gap: 20px;
    /* box-shadow: 30px 30px 20px rgba(128, 128, 128, 0.1); */
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.span {
    color: var(--foreground-color);
    cursor: pointer;
    opacity: 0.5;
    font-size: 14px;
    transition: var(--transition), opacity 0.2s;
}

.span:hover {
    opacity: 1;
}

.error-message {
    position: absolute;
    top: 55px;
    margin: auto;
    background-color: transparent;
    color: red;
    font-weight: normal;
}