.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.header {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.messages-wrapper {
    border: 1px solid var(--foreground-color);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.actions-container-1 {
    display: flex;
    gap: 15px;
    width: 25%;
    min-width: fit-content;
    justify-content: space-between;
}

.icon-and-count {
    width: fit-content;
}

.count {
    text-align: center;
    font-size: 11px;
    padding-top: 2px;
}

.delete-post-button {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 10px 15px;
    box-shadow: 0 0 10px silver;
    border-radius: 10px;
    border: 1px solid silver;
    color: var(--foreground-color);
    background-color: var(--background-color);
    cursor: pointer;
}

.deleted-message {
    position: absolute;
    top: -2px;
    left: -2px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(256, 0, 0, 0.4);
    color: red;
    font-size: 15px;
    z-index: 10;
    border-radius: 10px;
    padding: 4px;
    box-sizing: content-box;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .deleted-message {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.5);
    }
  }