.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition), opacity 0.2s;
}

.container:hover {
    opacity: 0.5;
}

.count {
    font-size: 10px;
    color: var(--foreground-color);
}

.image {
    width: 100%;
    height: 100%;
}