.container {
    width: fit-content;
    border: 2px solid var(--foreground-color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(128, 128, 128);
}

.image {
    width: 100%;
    height: 100%;
    border: 1px solid var(--background-color);
    border-radius: 9px;
}