.container {
    width: 100%;
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: var(--transition), opacity 0.2s;
}

.button:hover {
    opacity: 0.5;
}

.input {
    width: 100%;
    border: 1px solid var(--foreground-color);
    outline: 0;
    padding: 5px;
    border-radius: 10px;
    color: var(--foreground-color);
    height: 30px;
}