.container {
    width: 55vw;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    overflow-y: scroll;
}

@media screen and (max-width: 1000px) {
    .container{
        min-width: 60%;
    }
}

@media screen and (max-width: 650px) {
    .container{
        width: 100vw;
        min-width: 100vw;
        padding: 10px;
        padding-bottom: 0;
    }
}