:root {
  --background-color: white;
  --foreground-color: black;
  --transition: all 0.5s;
  --gold-color: rgb(255, 215, 0);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--background-color);
  transition: var(--transition);
  user-select: none;
}

.container {
  border: 1px solid transparent;
  height: 100vh;
}

*::-webkit-scrollbar {
  display: none;
}